.chatBoard {
  overflow: hidden;
}

.activeUsers {
  width: 30%;
  padding: 20px 0 0 0;
}

.searchContainer {
  padding: 20px;
}

.sideNav {
  width: 20%;
  background: #fff;
}

.sideNav a {
  white-space: nowrap;
}

.chatBody {
  width: 80%;
  padding: 20px 0 0 0;
  overflow-y: hidden !important;
}

.heading .not {
  background: green;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.heading {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: solid 2px #ccc;
}

.heading h2 {
  font-weight: bold;
}
.heading h4 {
  font-size: 0.9rem;
}

.search {
  border-radius: 55px;
  padding: 8px;
  font-size: 0.8rem;
  background: #fff !important;
}

.search::placeholder {
  font-size: 0.8rem;
}

.header {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  color: #383737cc;
  font-weight: 600;
}

.header p {
  font-size: 0.8rem;
}

.userList {
  /* background: #fafafa; */
  position: sticky;
  top: 0rem;
}

.userList li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 10px;
  background: #fff;
  color: #333;
  font-size: 0.8rem;
  cursor: pointer;
}

.userList li .userName {
  margin-left: 0.8rem;
}

.userList li h2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fafafa;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userList li h2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px red;
}

.userList li h4 {
  font-weight: 600;
}

.userList li .notification {
  background: green;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chatFlexContainer {
  display: flex;
  flex-direction: row;
}

.chats {
  position: relative;
  overflow: hidden;
  height: 75vh;
  width: 100%;
}

.chats ul {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 20px;
  overflow: scroll;
  height: 100%;
  padding: 0 20px;
}

.chatContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.agent {
  list-style: none;
  width: 50%;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.agent p {
  background: #fff;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: solid 2px #ccc;
}

.chats img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.replyChat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0;
  position: relative;
}

.replyChat img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 4rem;
}

.reply {
  list-style: none;
  width: 50%;
  margin-right: 1rem;
  align-self: flex-start;
}

.reply p {
  background: red;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
  color: #fff;
}

.messageInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background: #fff;
  padding: 1rem 2rem;
  bottom: 0;
  left: 0;
}
.messageInput .input {
  display: flex;
  align-items: center;
  width: 90%;
}
.messageInput .input textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: #fff !important;
  border: solid 1px #ccc;
  margin-left: 1rem;
  padding: 10px;
  resize: none;
  outline: none;
  overflow: none !important;
}

.file {
  font-size: 2rem;
}

.button {
  font-size: 2rem;
  color: red;
}

.emptyChat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1022px) {
  .chatFlexContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .activeUsers {
    width: 100%;
    padding: 20px 0 0 20px;
  }

  .searchContainer {
    display: none;
  }

  .sideNav {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    width: 100%;
    margin: 0 auto;
  }

  .sideNav a {
    font-size: 0.8rem;
    font-weight: 600;
    color: #838383;
  }

  .chatBody {
    width: 100%;
    padding: 0;
  }

  .userList {
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .userList li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 8px 1rem;
    padding: 0;
    background: transparent;
    color: #333;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .userList li h4 {
    display: none;
  }
  .userList li p {
    display: none;
  }

  .userList li h2 {
    width: 50px;
    height: 50px;
    margin: 0;
    border: solid 2px red;
  }

  .userList li h2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    border: solid 2px red;
  }

  .chats {
    height: 57vh;
    width: 100%;
    padding: 0 10px;
  }

  .messageInput {
    padding: 5px 1rem;
    background: #fff;
    position: fixed;
    /* top: 0; */
    bottom: 4.7rem;
    height: 10vh;
    z-index: 9;
  }

  .messageInput .input {
    width: 80%;
  }

  .messageInput .input img {
    display: none !important;
  }

  .messageInput .input textarea {
    border: solid 1px #ccc;
    margin: 0;
    resize: none;
    outline: none;
    overflow: auto;
  }

  .messageInput .input textarea::placeholder {
    font-size: 0.8rem;
  }

  .file {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.5rem;
    color: red;
  }

  .chats img {
    display: none !important;
  }

  .agent {
    width: 90%;
    margin-left: 0;
    padding-right: 20px;
  }

  .agent p {
    padding: 10px;
    font-size: 0.8rem;
  }
  .reply {
    width: 90%;
    margin-right: 0;
    padding-right: 20px;
  }

  .reply p {
    padding: 10px;
    font-size: 0.8rem;
  }

  .chats small {
    font-size: 0.7rem;
  }
}
