.body {
  display: flex;
  align-items: center;
  height: 100vh;
}

.aside {
  background: #0a0909;
  height: 100vh;
  width: 20%;
  /* padding: 20px; */
  color: #fff;
  display: none;
}

.main {
  background: #fafafa;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.nav {
  /* margin-top: 2rem; */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.navLink {
  display: block;
  padding-left: 20px;
  border-left: solid 3px #0a0909;
  line-height: 3.5;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  color: #cccc;
}
.navLink:hover {
  border-left: solid 4px #cccc;
  background: rgba(204, 204, 204, 0.411);
  color: #fff;
}

.menuLink {
  display: block;
  padding-left: 20px;
  line-height: 2.5;
  display: flex;
  align-items: center;
  color: #333;
}

.icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.dot {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 0.2rem;
}

.navIcon {
  font-size: 2rem;
  color: #eee;
}

.navIconBox {
  position: relative;
  margin-right: 1.5rem;
}
.navIconBox div {
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  bottom: 0;
  font-size: 0.7rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #fff;
}

.header {
  display: none;
}

.mobileNav {
  padding: 14px 0;
  background: #131313;
}

.avatar {
  border: solid 1px red !important;
}
.mobileFooter {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px -1px 5px 1px rgba(204, 200, 200, 0.7);
}

.mobileIcon {
  font-size: 1.7rem;
  color: #ccc;
}

.overflow {
  overflow-y: scroll;
  height: 70vh;
  margin: 2rem 0;
}

.footerLink {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footerLink > span {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.footerLink > span:hover {
  border-bottom: 1px solid #999;
}

@media screen and (min-width: 1022px) {
  .header {
    background: #0a0909;
    padding: 10px 2rem;
    display: block;
  }

  .mobileFooter {
    display: none;
  }
  .mobileNav {
    display: none;
  }

  .aside {
    background: #0a0909;
    height: 100vh;
    width: 20%;
    /* padding: 20px; */
    color: #fff;
    display: block !important;
  }

  .dotIcon {
    color: #fff;
    font-size: 2rem;
    margin-left: 0.1rem;
  }
}
