.table {
  margin: 2rem auto;
  border-collapse: collapse;
  font-size: 0.9rem;
  border-radius: 10px;
  text-align: left;
}

.table td, .table th {
  padding: 12px 15px;
  /* border-top: 1px solid #ccc; */
  text-align: left;
}

.table th {
  color: #757575;
}

.table td {
  border-top: 1px solid #ccc;
  text-align: left;
}

.btn {
  background: #f6f6f6ee;
  text-align: center;
  padding: 6px 30px;
  border-left: solid 1px #ccc;
  font-weight: bold;
  color: #333;
}

.table thead {
  border-top: 1px solid #ccc;
}

.table tr {
  border-radius: 10px;
  box-shadow: none;
  text-align: left;
}

.tableHeader {
  margin: 4rem 0;
}

@media(max-width: 900px) {

  .table tr {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .table {
    font-size: 0.8rem;
  }


  .table thead {
    display: none;
  }

  .table, .table tbody, .table tbody tr, .table td {
    display: block;
    width: 100%;
  }

  .table tbody tr {
    margin-bottom: 2rem;
  }

  .table td {
    text-align: right;
    padding-left:  50%;
    text-align: right;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}


.search {
  background: #fff!important;
  padding: 15px;
}